@page "/counter"
@using Car_Rental.Business.Classes
@using Car_Rental.Common.Interface
@using Car_Rental.Common.Enum
@inject BookingProcessor bp

<PageTitle>Bookings</PageTitle>
<h1>Bookings</h1>
<p>Handle your bookings down here: </p>
<!--Bookings-->
<table class="table">

    <!--Rows-->
    <thead class="table-secondary">
        <tr>
            <th scope="col">VIN</th>
            <th scope="col">Customer</th>
            <th scope="col">Odometer (km)</th>
            <th scope="col">Returned (km)</th>
            <th scope="col">Day rented</th>
            <th scope="col">Day returned</th>
            <th scope="col">Cost (SEK)</th>
            <th scope="col">Status</th>
        </tr>
    </thead>

    <!--Columns-->
    <!--Problem: Bokningen visar fel (alla är stängda/öppna)-->
    <tbody>
        @foreach (var b in bp.GetBookings())
        {
            <tr>
                <!--VIN-->
                <td>
                    @b.Vehicle.VIN
                </td>

                <!--Customer-->
                <td>
                    @b.Customer.LastName @b.Customer.FirstName (@b.Customer.SSN)
                </td>

                <!--Current Odometer-->
                <td>
                    @b.Odometer
                </td>

                <!--Odometer on returned
                    The distance traveled is not added.
                -->
                <td>
                    @if (@b.Vehicle.Status.Equals(VehicleStatuses.Available))
                    {
                        @b.DrivenKm
                    }
                    else{}
                </td>

                <!--Day rented-->
                <td>
                    @b.DayRented.ToShortDateString()
                </td>

                <!--Day returned-->
                <td>
                    @if (@b.Vehicle.Status.Equals(VehicleStatuses.Available))
                    {
                        @b.DayReturned.ToShortDateString()
                    }
                </td>

                <!--Cost/day
                    not working! No cost is displayed
                -->
                <td>
                    @if (@b.Vehicle.Status.Equals(VehicleStatuses.Available))
                    {
                        @b.CostToPay
                    }
                    else{}
                </td>
                <!--Status-->
                <td>
                    @if (@b.Vehicle.Status.Equals(VehicleStatuses.Available))
                    {
                        <span class="badge bg-success">Closed</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Booked</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>